# ======================
# Python
# ======================
__pycache__/
*.py[cod]

# ======================
# Virtual Environment
# ======================
venv/
.venv/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Linux
# ======================
*~
.DS_Store
sqlite.db
# ======================
# Logs
# ======================
*.log

university.db
*.sqlite
*.db
README.pdf

